.sideContainer {
  /* border: 1px solid gray; */
  box-shadow: 1px 1px 11px 0px rgba(188, 140, 242, 0.75);
  -webkit-box-shadow: 1px 1px 11px 0px rgba(188, 140, 242, 0.75);
  -moz-box-shadow: 1px 1px 11px 0px rgba(188, 140, 242, 0.75);
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  left: 10px;
  top: 50%;
  /* width: 250px; */
  transform: translate(0%, -50%);
  box-sizing: border-box;
  z-index: 10;
}

.colorPickerContainer {
  display: flex;
  flex-direction: column;
}

.colorPickerInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#lineColorValue,
#fillColorValue {
  margin-right: 5px;
  height: 23px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 0 8px;
  outline: none;
}

#colorPicker,
#fillColorPicker {
  position: relative;
  cursor: pointer;
}

#color,
#fillColor {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px dotted grey;
}

#picker,
#fillPicker {
  display: none;
  position: absolute;
}

#colorPicker:hover #picker,
#fillColorPicker:hover #fillPicker {
  display: block;
}

.lineWidthContainer {
  display: flex;
  flex-direction: column;
}

.lineWidthInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#lineWidth,
#opacity,
#lineStyle {
  width: 20%;
  border-radius: 5px;
}
#lineStyle {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}
#lineStyle div {
  flex-shrink: 0;
}
.slider {
  margin-right: 10px;
}

.downloadType {
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadType button {
  margin: 5px;
  padding: 8px 20px 10px 20px;
  background-color: rgb(231, 228, 228);
  color: rgb(70, 68, 68);
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.copydelete {
  display: flex;
  margin: 12px 0 0 0;
}

.copydelete button {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  background-color: #eeeeee;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 6px 6px 0;
}

.rc-slider-rail {
  background-color: #eeeeee;
}
.rc-slider-track {
  background-color: #aa14f0;
}
.rc-slider-handle {
  border: solid 2px #bc8cf2;
  background-color: #fff;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #aa14f0;
  box-shadow: 0 0 0 5px #bc8cf2;
}
.rc-slider-handle-click-focused:focus {
  border-color: #bc8cf2;
  box-shadow: unset;
}
.rc-slider-handle:hover {
  border-color: #aa14f0;
}
.rc-slider-handle:active {
  border-color: #aa14f0;
  box-shadow: 0 0 5px #aa14f0;
}
