.home-wrapper {
  color: rgb(61, 61, 61);
  width: 100%;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  box-sizing: border-box;
}

.home div {
  width: 40%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 30px;
}

.homeLeft h1 {
  font-size: 50px;
  /* color: white; */
}

/* .homeLeft p {
  color: rgb(230, 225, 225); 
} */

.homeRight img {
  width: 100%;
  object-fit: contain;
  width: 100%;
}
.feature-left,
.feature-right {
  display: flex;
  margin-top: 60px;
}
.feature-heading {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: 700;
}
.feature-description {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  text-align: justify;
}
.feature-image {
  width: 50%;
  padding: 2%;
}

.feature-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 300px;
}

@media screen and (max-width: 900px) {
  .feature-left {
    flex-direction: column-reverse;
    width: 100%;
  }
  .feature-right {
    flex-direction: column;
    width: 100%;
  }
  .feature-description,
  .feature-image {
    width: 100%;
  }
}
