.home-wrapper {
  color: rgb(61, 61, 61);
  width: 100%;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  box-sizing: border-box;
}

.home div {
  width: 50%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 30px;
  text-align: justify;
}
/* .homeRight {
  width: 50% !important;
} */

.homeLeft h1 {
  font-size: 2.5rem;
  /* color: white; */
}

/* .homeLeft p {
  color: rgb(230, 225, 225); 
} */

.homeRight img {
  width: 100%;
}

.exploreButton,
.signupButton {
  padding: 12px 22px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  font-size: 17px;
}

.signupButton {
  background-color: #aa14f0;
}

.signupButton a {
  text-decoration: none;
  color: white;
}

.exploreButton {
  background-color: #eeeeee;
}

.exploreButton a {
  text-decoration: none;
  color: black;
}

.features {
  width: 100%;
}
.feature-left,
.feature-right {
  display: flex;
  margin-top: 20px;
}
.feature-heading {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: 700;
}
.feature-description {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  box-sizing: border-box;
}
.feature-image {
  width: 50%;
  padding: 4%;
  padding-left: 6%;
  margin-right: 0;
  box-sizing: border-box;
}

.feature-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.try {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  background-color: #f6f1fd;
  padding: 3%;
  box-sizing: border-box;
}
.try div {
  margin-top: 20px;
}

.try-description {
  font-size: 2rem;
  letter-spacing: 0.25rem;
}
.try-button {
  background-color: #aa14f0;
  color: white;
  padding: 1% 4%;
  border-radius: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.footer {
  background-color: rgb(19, 18, 18);
  color: white;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.footer a {
  color: white;
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  .feature-description {
    font-size: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .feature-left {
    flex-direction: column-reverse;
    width: 100%;
  }
  .feature-right {
    flex-direction: column;
    width: 100%;
  }
  .feature-description,
  .feature-image {
    width: 100%;
  }
  .feature-image {
    padding-left: 20%;
    padding-right: 20%;
  }

  .footer {
    font-size: 1rem;
  }
  .home {
    flex-direction: column;
  }
  .home div {
    width: 100%;
  }
  .homeRight {
    margin-top: 10px !important;
    width: 100% !important;
    padding-left: 20% !important;
    padding-right: 20% !important;
  }
  .homeLeft {
    margin-bottom: 10px !important;
  }
  .try {
    margin-top: 40px;
  }
}
@media screen and (max-width: 700px) {
  .try-button {
    padding: 2% 6%;
    font-size: 1rem;
  }
  .try-description {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .feature-image {
    padding-left: 10%;
    padding-right: 10%;
  }
  .homeRight {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 450px) {
  .footer {
    font-size: 0.75rem;
  }
  .homeLeft h1 {
    font-size: 2rem;
  }
  .try-description {
    font-size: 1.2rem;
  }
}
