.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("../../assets/sign3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signupHead {
  color: white;
  margin: 12px 0;
  font-weight: 170;
  opacity: 0.9;
}

.exploreLink {
  position: absolute;
  right: 20px;
  top: 0px;
  opacity: 0.9;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  width: 20vw;
  background-color: #030303;
}

.signupInput {
  padding: 7px 10px;
  width: 100%;
  margin: 12px;
  border-radius: 3px;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  background-color: transparent;
  outline: none;
}

.submitSign {
  padding: 7px 10px;
  margin: 12px;
  margin-bottom: 5px;
  width: 50%;
  border-radius: 5px;
  border: none;
  color: rgb(235, 230, 230);
  cursor: pointer;
  background-color: #aa14f0;
}

.signupLogin {
  margin: 0;
  margin-bottom: 5px;
  color: #eee;
  font-size: 14px;
  font-weight: 100;
}

.signupLoginLink {
  color: #aa14f0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

@media screen and (max-width: 950px) {
  .signupForm {
    width: 37vw;
  }
}

@media screen and (max-width: 550px) {
  .signupForm {
    width: 47vw;
  }
}

@media screen and (max-width: 400px) {
  .signupForm {
    width: 60vw;
  }
}
