.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("../../assets/sign1.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1p solid white;
  padding: 10px;
  border-radius: 10px;
  background-color: #030303;
}

.signupInput {
  padding: 7px 10px;
  width: 20vw;
  margin: 12px;
  border-radius: 3px;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  background-color: transparent;
}

.submitSign {
  padding: 7px 10px;
  margin: 12px;
  margin-bottom: 5px;
  width: 10vw;
  border-radius: 5px;
  border: none;
  color: rgb(235, 230, 230);
  background-color: #aa14f0;
}

.signupLogin {
  margin: 0;
  margin-bottom: 5px;
  color: #eee;
  font-size: 14px;
  font-weight: 100;
}

.signupLoginLink {
  color: #aa14f0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
