.joinRoomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("../../assets/join.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.joinTopRight {
  position: absolute;
  right: 20px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleRoom {
  color: white;
  padding: 12px 20px 15px 20px;
  border-radius: 6px;
  margin-right: 10px;
  background-color: #aa14f0;
  cursor: pointer;
}

.joinLogout {
  color: black;
  cursor: pointer;
  padding: 12px 20px 15px 20px;
  border-radius: 6px;
  background-color: #eeeeee;
}

.joinHead {
  color: white;
  margin: 12px 0;
  opacity: 0.9;
  font-weight: 170;
}

.joinRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  width: 20vw;
  background-color: #030303;
}

.joinRoomname,
.joinUsername {
  padding: 7px 10px;
  width: 100%;
  margin: 12px;
  border-radius: 3px;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  background-color: transparent;
  outline: none;
}

.submitJoin {
  padding: 7px 10px;
  margin: 12px;
  margin-bottom: 5px;
  width: 50%;
  border-radius: 5px;
  border: none;
  color: rgb(235, 230, 230);
  background-color: #aa14f0;
  cursor: pointer;
}

.existing {
  padding: 6px 10px;
  border-radius: 7px;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  color: rgb(235, 230, 230);
  margin: 0%;
  cursor: pointer;
}
